
.wy-nav-side {
    background: #052E37
}

.wy-nav-top {
    background: #052E37
}

.wy-side-nav-search {
    background-color:#BFCE40;
}

.wy-side-nav-search>a img.logo {
    width: 80%;
    margin: 25px;
}


.wy-side-nav-search .icon {
    color: #052E37;
}

body {
    color: #052E37;
}